@media (max-width: 1024px) {
  .about:not(:first-of-type) {
    padding-top: 20px;
}
  .about__slogan-item {
    padding-left: 82px;
  }

  .about__slogan-item::before {
    left: 0.5rem;
    font-size: 40px;
  }
}

@media (max-width: 1100px) {
  .about__image {
    max-width: 1100px;
  }

  .about__info {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about__title {
    margin-bottom: 0;
  }

  .about__main {
    position: relative;
    flex-direction: column-reverse;
    gap: 0;
  }

  .about__image {
    width: 100%;
    max-height: 346px;
    object-fit: cover;
  }

  .about__logo {
    position: absolute;
    right: 8px;
    bottom: 8px;
    max-width: 156px;
  }

  .about__slogans-list {
    flex-direction: column;
  }

  .about__slogan-item {
    justify-content: start;
    align-items: center;
    padding-block: 30px;
  }

  .about__slogan-item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid var(--gray-steel);
  }

  .about__slogans-list>.about__slogan-item::before {
    left: 0;
}
  .about__slogan-item {
    padding-left: 134px;
  }

  .about__slogan-item::before {
    left: 1rem;
    font-size: 64px;
  }

  .about__slogan-description {
    max-width: max-content;
  }
}

@media (max-width: 430px) {
  .about:not(:first-of-type) {
    padding-top: 52px;
}
.about__main{
  margin-bottom: 0;
}
  .about__logo {
    position: static;
    max-width: 210px;
  }

  .about__slogan-item {
    padding-right: 0;
  }

  .about__slogan-item:first-child {
    padding-bottom: 21px;
  }

  .about__slogan-title {
    font-size: 20px;
    line-height: 14px;
    letter-spacing: -0.5px;
  }

  .about__slogan-description {
    font-weight: 400;
  }
}
