.about{
  margin-bottom: 97px;
}

.about__title{
  font-weight: 500;
  font-size: 40px;
  line-height: 48.41px;
  color: var(--black);
}

.about__main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 47px;
}

.about__main-img{
  width: 40%;
}

.about__logo{
max-width: 383px;
}

.about__wrapper-text{
  display: flex;
  flex-direction: column;
  max-width: 592px;
  justify-content: space-between;
  height: 342px;
}

.about__tagline{
  font-weight: 400;
}

.about__slogans-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  counter-reset: section;
}

.about__slogan-item {
  position: relative;
  padding-right: 20px;
  padding-left: 134px;
}

.about__slogan-item:not(:last-child){
  border-right: 1px solid var(--gray-steel);
}

.about__slogan-item::before {
  position: absolute;
  top: 38%;
  left: 1rem;
  display: block;
  font-weight: 900;
  font-size: 64px;
  counter-increment: section;
  content: "0"counter(section)".";
}

.about__slogan-item:first-child::before {
  left: 0;
}

.about__slogan-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  margin-bottom: 4px;
}

.about__slogan-description{
  max-width: 272px;
}
