.blog__container{
  display: flex;
  flex-direction: column;
}
.blog__title{
  font-weight: 500;
  font-size: 40px;
  line-height: 48.41px;
  color: var(--black);
  margin-bottom: 34px;
}
.blog__cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.blog__card{
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  max-width: 427px;
  height: 530px;
  background-color: var(--grey-light);
  padding: 12px 12px 23px 12px;
  border-radius: 20px;
}
.blog__card-img{
  height: 395px;
  width: 403px;
margin-bottom: 17px;
}
.blog__card-date{
  font-weight: 400;
  font-size: 14px;
  line-height: 17.64px;
  color: var(--grey-stone);
margin-bottom: 17px;

}
.blog__card-desc{
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
.button__blog{
  width: 203px;
  align-self: self-end;
}