*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  width: 100%;
  height: 100%;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

section {
  padding-top: 96px;
}

section:first-child {
  padding-top: 0;
}

section:last-of-type {
  padding-bottom: 96px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 60px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-block: 14px;
  padding-inline: 36px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--red);
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--red-dark);
}

.button:disabled {
  background-color: var(--grey-mountains);
  color: var(--grey-medium);
}

.button--icon {
  padding: 12px;
}

.button--black {
  color: var(--white);
  background-color: var(--black);
}

.button--black:hover {
  background-color: var(--black-light);
}

.button--white {
  color: var(--black);
  background-color: var(--white);
}

.button--white:hover {
  background-color: var(--grey-sky);
}

.button--outline {
  color: var(--black);
  border: 1px solid var(--gray-silver);
  background-color: transparent;
}

.button--outline:hover {
  background-color: var(--grey-sky);
}
