@font-face {
    font-family: "Inter", system-ui;
    font-weight:400;
    src: url('../fonts/Inter-Regular.otf') format('otf'),
}
@font-face {
  font-family: "Inter", system-ui;
    font-weight:500;
    src: url('../fonts/Inter-Medium.otf') format('otf'),
}
@font-face {
  font-family: "Inter", system-ui;
    font-weight:600;
    src: url('../fonts/Inter-SemiBold.otf') format('otf'),
}
@font-face {
  font-family: "Inter", system-ui;
    font-weight:900;
    src: url('../fonts/Inter-Black.otf') format('otf'),
}
