.header{
  position: relative;
  z-index: 4;
}
.header__menu-burger{
  display: none;
}
.header__menu {
  height: 43px;
  width: 100%;
  background-color: var(--grey);
}
.icon-search{
  display: none;
}
.header__menu-container {
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-location-nav {
  display: flex;
}

.header__menu-location {
  display: flex;
  margin-right: 68px;
}

.img-location {
  width: 12.75px;
  height: 15.45px;
  margin-right: 5px;
}

.location-name {
  font-size: 14px;
  line-height: 16.94px;

}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16.94px;
}

.header__nav-item:not(:last-child) {
  margin-right: 16px;
}

.header__contacts {
  display: flex;
  height: 16px;
  align-items: center;
}

.header__contacts-phone {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: -6%;
  margin-right: 15px;
}

.img-phone {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.img-oclock {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

.header__contacts-work {
  font-size: 14px;
  line-height: 16.94px;
}

/* header-main */
.header__main {
  min-height: 76px;
  position: relative;
}

.header__main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.header__main-search-content {
  display: flex;
  height: 76px;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 158.73px;
  height: 29px;
  margin-right: 14.27px;
}

.header__button-menu {
  height: 48px;
  margin-right: 16px;
  padding-inline: 28px;
  font-size: 16px;
}

.img-button {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

/* .button-text {
  font-size: 16px;
  line-height: 19.36px;
} */

.input {
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--grey-dark);
  padding-left: 30px;
}

.wrapper_iconSearch{
  display: none;
}

.input-header {
  width: 52%;
  background-color: var(--grey-light);
  font-size: 16px;
  line-height: 19.36px;
}

.header__main-supportive-content {
  display: flex;
  width: 35%;
}

.wrapper-img-heart {
  width: 36px;
  height: 36px;
  background-color: var(--grey-light);
  border-radius: 10px;
  display: grid;
  place-items: center;
  margin-right: 5px;
}

.img-heart {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.header__favorites {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 31px;
}

.header__button-consultation {
  width:100%;
  max-width: 203px;
  padding: 15px;
  border: 1px solid var(--gray-silver)
}

.img-chat {
  margin-right: 4px;
}
