@media (max-width: 760px) {
  .hero__content {
    min-height: 358px;
    max-width: 727px;
    padding: 94px 14px 60px;
  }

  .hero__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43.57px;
    letter-spacing: -0.8px;
    margin-bottom: 7px;
  }

  .hero__service-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: -0.8px;
    margin-bottom: 29px;
  }

  .hero__button {
    width: 170px;
    height: 49px;
  }
}

@media (max-width: 430px) {
  .hero__container {
    height: 980px;
  }

  .hero__content {
    position: relative;
    height: 622px;
    max-width: 378px;
    padding-left: 14px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 80px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__service-list {
    margin-bottom: 0;
  }

  .hero__button {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    background-color: var(--black);
  }

  .carousel__card {
    width: 361px;
  }

  .carousel__card:not(:last-child) {
    margin-right: 11px;
  }
}
