.hero__content {
  position: relative;
  max-width: 1320px;
  min-height: 552px;
  margin-bottom: 20px;
  padding: 116px 45px 10vw;
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
}

.hero__image {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 0;
}

.hero__title,
.hero__service-list,
.hero__button {
  position: relative;
  z-index: 1;
}

.hero__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  text-wrap: balance;
}

.hero__service-list {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.hero__service-item::before {
  font-size: 1em;
  margin: 10px 8px 0 0;
  color: var(--white);
  content: "—";
}
