.hero__content {
  max-width: 1320px;
  min-height: 552px;
  background-color: #000000;
  background-image: url(../img/png/heroBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  color: var(--white);
  padding: 116px 45px 10vw;
  border-radius: 10px;
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 58.09px;
  text-transform: uppercase;
  text-wrap: balance;
  margin-bottom: 16px;
}

.hero__service-list {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -1%;
  margin-bottom: 59px;
}

.hero__service-item::before {
  font-size: 1em;
  margin: 10px 8px 0 0;
  color: var(--white);
  content: "—";
}

.hero__button {
  width: 219px;
  height: 57px;
  color: var(--white);
  background-color: var(--red);
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
}
