.ready-kitchen:not(:first-of-type){
  padding-top: 81px;
}

.ready-kitchen__content {
  max-width: 1320px;
  height: 400px;
  padding: 0;
  background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.69) 5.95%, rgba(0, 0, 0, 0) 92.46%), url(../img/png/ready-kitchen.png);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  color: var(--white);
  padding: 30px 36px;
  border-radius: 20px;
}

.ready-kitchen__discount {
  display: inline-block;
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 36px;
}

.ready-kitchen__title {
  margin-bottom: 62px;
  position: relative;
  top: 48px;
  left: 14px;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-wrap: balance;
}

.ready-kitchen__slogan {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  margin-left: 13px;
}


.ready-kitchen__button {
  margin-top: 98px;
  margin-left: 9px;
}
.category.ready-kitchen--category{
  height: 233px;
}