.readyKitchen__content {
  max-width: 1320px;
  height: 399px;
  padding: 0;
  background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.69) 5.95%, rgba(0, 0, 0, 0) 92.46%), url(../img/png/readyKitchen.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin-bottom: 20px;
  color: var(--white);
  padding: 31px 37px;
  border-radius: 20px;
}
.discount__button{
  width: 187px;
  height: 35px;
  background-color: var(--red);
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  border-radius: 37px;
  margin-bottom: 52px;
}
.readyKitchen__wrapper-text{
  margin-bottom: 98px;
}
.readyKitchen__title{
  font-weight: 600;
  font-size: 48px;
  line-height: 58.09px;
  margin-bottom: 15px;
}
.readyKitchen__slogan{
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}
.readyKitchen__button{
  width: 155px;
  height: 50px;
  background-color: var(--white);
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  border-radius: 10px;
}
