.salons:not(:first-of-type) {
  padding-top: 106px;
}
.salons:last-of-type {
  padding-bottom: 99px;
}
.salons__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48.41px;
  margin-bottom: 34px;
}

.salons__map {
  min-height: 417px;
  margin-bottom: 107px;
  object-fit: cover;
}

.salons__entry {
  display: flex;
  justify-content: space-between;
}

.salons__entry-text-wrap {
  max-width: 458px;
}

.salons__entry-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48.41px;
  margin-bottom: 17px;
}

.salons__entry-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
}

.form {
  width: 57%;
  display: flex;
  flex-direction: column;
}

.personal-data {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.text-field-name,
.text-field-salons {
  max-width: 364px;

}

.text-field-name {
  width: 100%;
  margin-right: 8px;
}

.text-field-phone {
  max-width: 390px;
  width: 100%;
}

.text-field-salons {
  margin-bottom: 17px;
}

.text-field__label {
  display: block;
  margin-bottom: 9px;
}

.text-field__input {
  display: block;
  width: 100%;
  height: 58px;
  padding: 20px;
  border: 1px solid var(--grey-foggy);
  outline: 1px solid var(--black);
  border-radius: 10px;
}

.map-responsive{
  overflow:hidden;
  padding-bottom: 38.25%;
  position:relative;
  height:0;
  border-radius: 10px;
  margin-bottom: 107px;
}

.map-responsive iframe{
  left:0;
  top:0;
  height: 100%;
  width:100%;
  position:absolute;
  
}

  .salons__button {
    margin-bottom: 25px;
}

.text-warning {
  color: (--grey-dull-weak);
}

@media (max-width: 1100px) {
  .salons:not(:first-of-type) {
    padding-top: 68px;
}
.salons:last-of-type {
  padding-bottom: 50px;
}

  .salons__entry {
    flex-direction: column;
  }
  .map-responsive {
    min-height: 386px;
    margin-bottom: 69px;
}
  .form {
    width: 100%;
  }

  .salons__entry-text-wrap {
    max-width: max-content;
    margin-bottom: 60px;
  }

  .text-warning {
    display: none;
  }

  .salons__title {
    font-size: 36px;
    line-height: 43.57px;
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .salons:not(:first-of-type) {
    padding-top: 56px;
}

  .salons:last-of-type{
    padding-bottom: 43px;
      }
  .salons__entry {
    margin-bottom: 43px;
  }

  .salons__title {
    margin-bottom: 20px;
  }

  .personal-data {
    flex-direction: column;
  }

  .map-responsive {
    min-height: 414px;
    margin-bottom: 56px;
  }

  .text-field-name,
  .text-field-salons {
    max-width: 100%;
  }

  .salons__entry-text-wrap {
    margin-bottom: 41px;
  }

  .salons__entry-title {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
  }

  .salons__entry-description {
    font-weight: 400;
    font-size: 16px;
  }

  .text-field-name {
    margin: 0 0 20px 0;
  }

  .text-warning {
    display: block;
    color: var(--grey-dull-weak)
  }
  .text-warning > span{
    border-bottom: 1px var(--grey-dull-weak) solid;
  }
}